<div class="contact-form">
    <form>
      <p>
        <b>Le Groupe EPI ,</b> est spécialisé dans l’enseignement, la formation et l’éducation. Créé en 2011, il comprend aujourd’hui deux composantes :
        <br>
        <br>
        
        <b>Le groupe EPI Sup </b> 
        <br>•	EPI-Polytechnique pour la formation d’ingénieurs <br />
        •	EPI-Digital School pour la formation d’ingénieurs en informatique <br />
        •	EPI-Arch pour la formation d’ingénieurs-architectes <br />
        •	EPI-Business School pour la formation de managers <br />
        
        <b>Le groupe EPI Scolaire</b>
        <br>•	EPI-School pour l’enseignement primaire <br />
        •	EPI-Collège (Lancement prévu en 2024) <br />
        •	EPI-Lycée (Lancement prévu en 2024) <br />
      </p>
      <img style="padding-left: 7%;"
          src="assets/img/business.jpg"
          alt="EPI Group"
          class="image-content"
        />
        <img
        src="assets/img/digital.png"
        alt="EPI Group"
        class="image-content"
      />
      <img
      src="assets/img/poly.png"
      alt="EPI Group"
      class="image-content"
    />
    <img
      src="assets/img/arch.png"
      alt="EPI Group"
      class="image-content"
    />
    </form>
    
  </div>
  
  
  