<div class="container main-content">
  <div class="row align-items-center">
    <!-- Signup Form Column -->
    <div class="col-md-6 form-column">
      <form (ngSubmit)="signup()">
        <!-- Full Name input -->
        <div class="mb-3">
          <input type="text" class="form-control" id="exampleInputFullName" [(ngModel)]="newUser.fullName" name="fullName" placeholder="Full Name" required />
        </div>
        <!-- Mobile Number input -->
        <div class="mb-3">
          <input type="tel" class="form-control" id="exampleInputMobile" [(ngModel)]="newUser.mobile" name="mobile" placeholder="Mobile Number" required />
        </div>
        <!-- Email input -->
        <div class="mb-3">
          <input type="email" class="form-control" id="exampleInputEmail" [(ngModel)]="newUser.email" name="email" placeholder="Email" required />
        </div>
        <!-- Password input -->
        <div class="mb-3">
          <input type="password" class="form-control" id="exampleInputPassword" [(ngModel)]="newUser.password" name="password" placeholder="Password" required />
        </div>
        <!-- Signup button -->
        <div class="action-container">
          <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
      </form>
    </div>
    <!-- Image Column -->
    <div class="col-md-6 image-column">
      <img src="assets/img/password.png" class="img-fluid" alt="Signup Illustration" />
    </div>
  </div>
</div>
