<div class="contact-form">
    <form>
      <div class="contact-class">
        <input
          type="email"
          name="email"
          class="contact-input"
          placeholder="Your email adress.."
        />
        <label for="email"><b>Email</b></label>
      </div>
      <br />
  
      <div class="contact-class">
        <textarea
          rows="4"
          cols="22"
          name="message"
          class="contact-input"
          placeholder="Your message..."
        ></textarea>
        <label for="email"><b>Message</b></label>
      </div>
      <br />
      <button type="submit" class="btn btn-big contact-btn">
        <fa-icon [icon]="faenvelope"></fa-icon>
        send
      </button>
    </form>
  
  </div>
  
  