<footer class="mat-elevation-z8 mat-elevation-light">
    <div class="spacer">
      <div class="footer-content">
        <div class="footer-section1 about">
          <img
            src="assets/img/logo.png"
            class="img-responsive smaller"
            size="14%"
          />
          <div class="contact">
            <a
              ><span
                ><fa-icon [icon]="faphone"></fa-icon>&nbsp; (+216)73 296 060</span
              ></a
            >
            <a
              ><span>
                <fa-icon [icon]="faMaplocation"></fa-icon> Route de Ceinture, Sahloul
                Sousse 4021</span
              ></a
            >
          </div>
        </div>
        <div class="footer-section links">
          <h6>follow us</h6>
  
          <a href="https://www.facebook.com/epi.polytechnique" target="_blank" class="color"
            ><fa-icon [icon]="faFacebook"></fa-icon
          ></a>
          <a href="https://www.instagram.com/epi.educational.group/" target="_blank" class="color"
            ><fa-icon [icon]="faInstagram"></fa-icon
          ></a>
          <a
            href="https://www.youtube.com/channel/UC33QZlClFOnMl06mfpE0M8A/feed" target="_blank"
            class="color"
          >
            <fa-icon [icon]="faYoutube"></fa-icon
          ></a>
          <a href="https://www.linkedin.com/company/ecole-pluridisciplinaire-internationale-epi-sousse/" target="_blank" class="color"
            ><fa-icon [icon]="faLinkedin"></fa-icon
          ></a>
        </div>
      </div>
    </div>
  </footer>
  